*,
::after,
::before {
  margin: 0;
  font-family: sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

code {
  font-family: sans-serif;
}
.page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  width: 100%;
}
.profile__img__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.profile__img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
h3 {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}
/* end of the header section */
.links__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0;
}
.btn {
  border: 1px solid;
  padding: 1.8rem 0;
}
